<h3><%= @password.username %>'s Password for <%= @password.website %></h3>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Password</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @password.username %></td>
        <td><%= @password.pw %></td>
      </tr>
  </tbody>
</table>